.contact-page{

background:#f8fafc;

}



/* Hero */


.contact-hero{

height:350px;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

background:
linear-gradient(
135deg,
#0f172a,
#2563eb
);

color:white;

}



.contact-hero h1{

font-size:50px;

}



.contact-hero h1 span{

color:#38bdf8;

}



.contact-hero p{

font-size:18px;

}





/* Contact Section */


.contact-section{

padding:80px 8%;

display:grid;

grid-template-columns:1fr 1fr;

gap:50px;

align-items:start;

}





.contact-info h2,
.contact-form h2{

font-size:35px;

margin-bottom:20px;

}



.contact-info p{

color:#64748b;

line-height:1.7;

}




.info-box{

display:flex;

gap:20px;

align-items:center;

background:white;

padding:20px;

margin-top:20px;

border-radius:15px;

box-shadow:
0 10px 20px rgba(0,0,0,.08);

}



.info-box svg{

font-size:30px;

color:#2563eb;

}



.info-box h3{

margin:0 0 5px;

}




/* Form */


.contact-form{

background:white;

padding:35px;

border-radius:20px;

box-shadow:
0 10px 25px rgba(0,0,0,.1);

}




.contact-form input,
.contact-form textarea{

width:100%;

padding:15px;

margin-bottom:20px;

border:1px solid #cbd5e1;

border-radius:8px;

outline:none;

font-size:16px;

}




.contact-form input:focus,
.contact-form textarea:focus{

border-color:#2563eb;

}




.contact-form button{

display:flex;

align-items:center;

gap:10px;

background:#2563eb;

color:white;

border:none;

padding:14px 30px;

border-radius:8px;

font-size:16px;

cursor:pointer;

transition:.3s;

}



.contact-form button:hover{

background:#0f172a;

}







/* Map */


.map-section{

padding:50px 8% 80px;

text-align:center;

}



.map-section h2{

font-size:35px;

margin-bottom:30px;

}



.map-box{

height:300px;

background:#cbd5e1;

display:flex;

justify-content:center;

align-items:center;

font-size:25px;

color:#475569;

border-radius:20px;

}








@media(max-width:900px){


.contact-section{

grid-template-columns:1fr;

}



.contact-hero h1{

font-size:35px;

}


}