.project-details{

padding:80px 10%;

background:#ffffff;

}



.project-details img{

width:100%;

max-height:450px;

object-fit:cover;

border-radius:20px;

margin-bottom:40px;

}



.project-details h1{

font-size:45px;

margin-bottom:30px;

color:#0f172a;

}



.project-details h2{

margin-top:35px;

font-size:28px;

}



.project-details p{

font-size:18px;

line-height:1.8;

}



.project-details ul{

margin-top:20px;

}



.project-details li{

margin:12px 0;

font-size:18px;

}