.footer{

background:#020617;
color:white;
padding:60px 8% 20px;

}



.footer-container{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:40px;

}



.footer-section h2{

font-size:30px;
margin-bottom:15px;

}


.footer-section h2 span{

color:#38bdf8;

}



.footer-section h3{

font-size:20px;
margin-bottom:20px;

}



.footer-section p{

color:#cbd5e1;
line-height:1.7;

}



.footer-section ul{

list-style:none;
padding:0;

}



.footer-section ul li{

margin-bottom:12px;

}



.footer-section ul li a{

text-decoration:none;
color:#cbd5e1;
transition:.3s;

}



.footer-section ul li a:hover{

color:#38bdf8;

}




.social-icons{

display:flex;
gap:15px;
margin-top:20px;

}



.social-icons a{

width:40px;
height:40px;

display:flex;
align-items:center;
justify-content:center;

background:#1e293b;
border-radius:50%;

color:white;

font-size:18px;

transition:.3s;

}



.social-icons a:hover{

background:#38bdf8;
transform:translateY(-5px);

}




.subscribe-box{

display:flex;
margin-top:20px;

}



.subscribe-box input{

padding:12px;
border:none;
outline:none;

width:220px;

border-radius:5px 0 0 5px;

}



.subscribe-box button{

width:50px;

border:none;

background:#38bdf8;

cursor:pointer;

border-radius:0 5px 5px 0;

font-size:18px;

}




.copyright{

border-top:1px solid #334155;

margin-top:40px;

padding-top:20px;

text-align:center;

color:#94a3b8;

}




@media(max-width:900px){


.footer-container{

grid-template-columns:repeat(2,1fr);

}


}




@media(max-width:600px){


.footer-container{

grid-template-columns:1fr;

}



.subscribe-box input{

width:100%;

}


}