.scroll-top{
position:fixed;
right:30px;
bottom:30px;
width:55px;
height:55px;
border:none;
border-radius:50%;
background:#2563eb;
color:white;
font-size:20px;
cursor:pointer;
box-shadow:0 8px 20px rgba(37,99,235,.35);

opacity:0;
visibility:hidden;
transform:translateY(20px);

transition:.3s;

z-index:999;
}

.scroll-top.show{
opacity:1;
visibility:visible;
transform:translateY(0);
}

.scroll-top:hover{
background:#1d4ed8;
transform:scale(1.1);
}