*{

  margin:0;
  padding:0;
  box-sizing:border-box;

}


html{

  scroll-behavior:smooth;

}



body{

  font-family:"Inter",sans-serif;

  color:#0f172a;

  background:#ffffff;

  overflow-x:hidden;

}



h1,
h2,
h3,
h4,
h5,
h6{

  font-family:"Poppins",sans-serif;

  font-weight:700;

}



p{

  font-size:16px;

  line-height:1.7;

  color:#64748b;

}



a{

  text-decoration:none;

}



button{

  font-family:"Poppins",sans-serif;

  cursor:pointer;

  border:none;

}



img{

  max-width:100%;

  display:block;

}



/* Common Section */

section{

  width:100%;

}



.container{

  width:85%;

  margin:auto;

}




/* Scroll Bar */


::-webkit-scrollbar{

  width:10px;

}



::-webkit-scrollbar-thumb{

  background:#2563eb;

  border-radius:10px;

}

.primary-btn{

  padding:14px 30px;

  background:linear-gradient(
    135deg,
    #2563eb,
    #38bdf8
  );

  color:white;

  border-radius:30px;

  font-size:16px;

  font-weight:600;

  transition:0.3s;

}



.primary-btn:hover{

  transform:translateY(-3px);

  box-shadow:0 10px 25px rgba(37,99,235,0.3);

}